.example-card {
    max-height: fit-content;
    background-color: rgb(255, 123, 0);
  }
  
  .images{
    height: 450px;
    width: max-content;
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .characterData{
    display: inline-flex;
  }

  .content {
    width: 75%; 
    margin: auto; 
 }
 
 p {
     text-align: center; 
     border: 1px solid black;
 }

 body{
  background-color: rgb(245, 212, 152);
 }